@import 'variables';
@import 'utility/mixins';
@import 'core/typography';

// $spacing-unit--small: rem(15px);
// $spacing-unit: rem(20px);
// $spacing-unit--medium: rem(30px);
// $spacing-unit--large: rem(40px);

$rel-spacing-unit: .5em;

$c--subtle: $c--grey-light;

$breakpoint--styleguide: tablet;

.s {
	// spacing

	@mixin macro($spacing-unit, $spacing-unit--tablet, $modifier: '') {
		&-push-top#{$modifier} {
			margin-top: $spacing-unit;
		}

		&-soft-ends#{$modifier} {
			@include soft--ends($spacing-unit);
		}

		@include mq(tablet) {
			&-push-top#{$modifier} {
				margin-top: $spacing-unit--tablet;
			}

			&-soft-ends#{$modifier} {
				@include soft--ends($spacing-unit--tablet);
			}
		}
	}
	@include macro($spacing-unit--x-small, $spacing-unit--small, --small);
	@include macro($spacing-unit--small, $spacing-unit);
	@include macro($spacing-unit--medium, $spacing-unit--large, --large);

	// headings

	&-h1 {
		@extend .h1;
	}

	&-h2 {
		@extend .h2;
		position: relative;

		&__anchor {
			display: inline-block;
			width: 1em;
			margin-left: -1em;
			text-align: right;
			opacity: 0;
		}

		&:hover &__anchor {
			opacity: 1;
		}
	}

	&-h3 {
		@extend .h5;
	}

	&-meta {
		> dt,
		> dd {
			margin-top: 0;
		}

		> dt {
			font-weight: normal;
			color: $c--subtle;
		}

		@include mq($breakpoint--styleguide) {
			@include cf;

			> dt,
			> dd {
				float: left;
				margin-top: $rel-spacing-unit;
			}

			> dt {
				clear: left;
				width: 7em;

				&:first-child {
					&,
					+ dd {
						margin-top: 0;
					}
				}
			}

			> dd {
				width: auto;
				padding-left: $rel-spacing-unit;
			}
		}
	}

	// grid

	&-grid {
		$spacing-unit--gutter: $spacing-unit;
		display: flex;
		flex-wrap: wrap;
		margin-left: n($spacing-unit--gutter);

		&__item {
			flex: none;
			width: 100%;
			padding-left: $spacing-unit--gutter;
		}
	}

	// component

	&-component {
		$ratio--preview: 14/24;

		&__meta {
			display: none;
		}

		&__preview {
			padding: $spacing-unit--small;
			border: 1px solid $c--subtle;
			border-radius: 3px;
		}

		@include mq($breakpoint--styleguide) {
			&__meta {
				display: block;
				width: (1 - $ratio--preview) * 100%;
			}

			&__preview {
				min-height: 10em;

				&-wrapper {
					width: $ratio--preview * 100%;
				}
			}
		}
	}

	// others

	&-hr {
		background-color: $c--subtle;
	}
}
