@import 'variables';
@import 'utility/mixins';
@import 'core/typography';

// variables

// $spacing-unit--x-small: rem(10px);
// $spacing-unit--small: rem(15px);
// $spacing-unit: rem(20px);
// $spacing-unit--medium: rem(30px);
// $spacing-unit--large: rem(40px);

// $rel-spacing-unit--small: .5em;

$c--subtle: $c--grey-light;

$breakpoint--styleguide: tablet;

$stack--code: 'PT Mono', monospace;

.s {
	// spacing

	@mixin macro($spacing-unit, $spacing-unit--tablet, $modifier: '') {
		&-push-top#{$modifier} {
			margin-top: $spacing-unit;
		}

		&-soft-ends#{$modifier} {
			@include soft--ends($spacing-unit);
		}

		@include mq(tablet) {
			&-push-top#{$modifier} {
				margin-top: $spacing-unit--tablet;
			}

			&-soft-ends#{$modifier} {
				@include soft--ends($spacing-unit--tablet);
			}
		}
	}
	@include macro($spacing-unit--x-small, $spacing-unit--small, --small);
	@include macro($spacing-unit--small, $spacing-unit);
	@include macro($spacing-unit--medium, $spacing-unit--large, --large);

	// headings

	&-h1 {
		@extend .h1;
	}

	&-h2 {
		@extend .h2;
		position: relative;

		&__anchor {
			display: inline-block;
			width: 1em;
			margin-left: -1em;
			text-align: right;
			opacity: 0;
		}

		&:hover &__anchor {
			opacity: 1;
		}
	}

	&-h3 {
		@extend .h5;
	}

	&-meta {
		> dt,
		> dd {
			margin-top: 0;
		}

		> dt {
			font-weight: normal;
			color: $c--subtle;
		}

		> dd {
			font-family: $stack--code;
		}

		@include mq($breakpoint--styleguide) {
			@include cf;

			> dt,
			> dd {
				float: left;
				width: auto;
				margin-top: $rel-spacing-unit--small;
			}

			> dt {
				clear: left;
				min-width: 7em;

				&:first-child {
					&,
					+ dd {
						margin-top: 0;
					}
				}
			}

			> dd {
				padding-left: $rel-spacing-unit--small;
			}
		}
	}

	// grid

	&-grid {
		display: flex;
		flex-wrap: wrap;

		&__item {
			flex: none;
			width: 100%;
		}
	}

	// component

	&-component {
		&__meta {
			display: none;
		}

		&__preview {
			padding: $spacing-unit--small;
			border: 1px solid $c--subtle;
			border-radius: 3px;
		}

		@include mq($breakpoint--styleguide) {
			&__meta {
				display: block;
				width: 10/24 * 100%;
			}

			&__preview {
				min-height: 10em;

				&-wrapper {
					width: 14/24 * 100%;
				}
			}
		}
	}

	// others

	&-hr {
		background-color: $c--subtle;
	}

	&-colour {
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&__inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: $stack--code;
			mix-blend-mode: color-burn;
		}

		&-wrapper {
			&--secondary {
				width: 1/3 * 100%;
			}

			&--tertiary {
				width: 1/5 * 100%;
			}
		}
	}

	&-colours {
		&__base {
			width: 2/5 * 100%;
		}

		&__variants {
			width: 3/5 * 100%;
		}
	}
}
